image: ubuntu

#clone_folder: ~/test
clone_folder: $HOME/test
#clone_folder: /test

stack:
- ruby 2.3

test_script:
- ruby --version
- ls -al
- appveyor PushArtifact README.md

artifacts:
- path: test.txt

build: off
